<!doctype html>
<html lang="en">


<head>

    <script>
        function getPicturesFromFacebookPage() {
            
        }
    </script>

    <meta charset="UTF-8">
    <title>CARE: Cat's Angels</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-inverse bg-faded">
    <a class="navbar-brand" href="#">Cat's Angels</a>
    </nav>

    <div class="container-fluid" style="height: 100%; width: 100%">
        <div class="row" style="margin: 1em;">            
            <div class="col-md-4">
                <div class="card" style="width: 20rem; box-shadow: 0 0 30px black; ">
                    <img class="card-img-top" src="https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg" alt="Card image cap" style="width: 100%; height: 100%">
                    <div class="card-block" style="padding: 1em;">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 1em;">            
            <div class="col-md-4">
                <div class="card" style="width: 20rem; box-shadow: 0 0 30px black; ">
                    <img class="card-img-top" src="https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg" alt="Card image cap" style="width: 100%; height: 100%">
                    <div class="card-block" style="padding: 1em;">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 1em;">
            <div class="col-md-4">
                <div class="card" style="width: 20rem; box-shadow: 0 0 30px black; ">
                    <img class="card-img-top" src="https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg" alt="Card image cap" style="width: 100%; height: 100%">
                    <div class="card-block" style="padding: 1em;">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
